# User-specific files
*.suo
*.user
*.sln.docstates

~$*.xlsx
~$*.xls


# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb
.vs

# Files built by Visual Studio
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/

packages/

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
*.DotSettings

#other tempory files
*.prfsession

Misc.cs
test_*.jpg
test_*.png
Demo-MNist/
EBaySearcher/SQLite/
/GPU/
/SharpNet/
SGOlympicGames/
/ManagedCuda/
/ManagedCudeV2/
/NeuralNetwork.NET/
/HandwrittenRecognition/
/ConvNetSharp/
/MyCaffe/
/NN/*
/VSCode/*
NUnit*/
saved_models/
__pycache__/
.ipynb_checkpoints/


Tests/TensorFlow/*
Tests/NonReg/TensorFlow/
ImageScanSplitter/Install/Dump/*
SharpNet/Tests/Data/*
Prod/Datasets/SNCF89/*
Prod/Datasets/BNP104/*
Prod/Datasets/CFM84/*
Prod/Datasets/QRT97/*

StampExpert/Templates/FRANCE/*
StampExpert/Tests/Speed*/*
StampExpert/TODO/*
ImageScanSplitter/Test/*
StampExpert/Templates/Raw/*
StampExpert/Templates.old/
TestBitmapSegmenter_*.csv
TestNonRegNew_*.csv
/StampExpert/CommonTools.dll
/StampExpert/CommonToolsTest.dll
/StampExpert/EBaySearcher.exe
/StampExpert/ImageScanSplitter.exe
/StampExpert/nunit.framework.dll
/StampExpert/StampArbitragist.exe
/StampExpert/StampExpert.exe
/StampExpert/StampExpertTest.exe
/CommonTools/CommonTools.dll
/ImageScanSplitter/numérisation0002.jpg
/ImageScanSplitter/Calibrage Canon G.JPG
/Python/Pycharm/.idea/workspace.xml
/Python/Pycharm/.idea/workspace.xml
/StampExpert/Install/StampExpertInstall105.exe
/ImageScanSplitter/Install/ImageScanSplitterInstall.exe
/StampArbitragist/Install/StampArbitragistInstall.exe
/ImageScanSplitter/TODO/
/Tests/SharpNetTests.csproj.fzibi.nvuser
/Private/
